[Unit]
Description=ABRT upload watcher
After=abrtd.socket
Requisite=abrtd.socket

[Service]
ExecStart=/usr/sbin/abrt-upload-watch

[Install]
WantedBy=multi-user.target
