[Unit]
Description=Harvest vmcores for ABRT
After=abrtd.socket
Requisite=abrtd.socket
ConditionDirectoryNotEmpty=/var/crash

[Service]
Type=oneshot
ExecStart=/usr/sbin/abrt-harvest-vmcore
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
